<template>
    <!-- <v-container class="fill-height">
        <v-layout>
            <v-flex>
                <v-card class="fill-height">
                    <v-card-text>
                        <h1>This is an about page</h1>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container> -->
    <section>
        <p>about</p>
    </section>
</template>
