<template>
    <section>
        <v-container fluid>
            <v-layout wrap row justify-center>

                <!-- contact icons -->
                <v-flex xs12 md8>
                    <v-list>
                        <!-- contact icon -->
                        <v-list-tile
                            v-for="(contact, index) in contacts"
                            :key="index"
                            :href="contact.url"
                            target="_blank"
                        >
                            <!-- Icon -->
                            <v-list-tile-action>
                                <v-icon v-if="contact.icon" color="primary">{{contact.icon}}</v-icon>
                            </v-list-tile-action>

                            <v-list-tile-content>
                                <v-list-tile-title v-text="contact.text"></v-list-tile-title>
                            </v-list-tile-content>


                        </v-list-tile>
                    </v-list>
                </v-flex>

                <v-flex xs10 md6 mb-4 mt-2>
                    <v-divider></v-divider>
                </v-flex>

                <!-- title -->
                <v-flex xs12 md8>
                    <h2 class='text-xs-center display-1'>Say Hello</h2>
                </v-flex>


                <v-flex xs12 md8>
                    <!-- form -->
                    <v-form
                        ref="form"
                        v-if="!message_sent"
                        v-model="valid"
                        lazy-validation
                        @submit.prevent="submitForm"
                    >
                        <!-- name -->
                        <v-text-field
                            v-model="name"
                            label="Name"
                            :rules="[rules.required]"
                            required
                            single-line
                            hide-details
                        />

                        <!-- email -->
                        <v-text-field
                            v-model="email"
                            label="Email"
                            :rules="[rules.required, rules.email]"
                            required
                        />

                        <!-- message -->
                        <v-textarea
                            v-model="message"
                            label="Message"
                            :rules="[rules.required, rules.min(message, 10, true)]"
                            required
                        />

                        <v-btn
                            type="submit"
                            color="primary"
                            :loading="loading"
                        >
                            Send
                        </v-btn>

                    </v-form>


                    <!-- alert if form was succesful or not -->
                    <v-alert
                    v-if="message_sent !== null"
                    :value="true"
                    :type="(message_sent) ? 'success' : 'error'"
                    >
                        <!-- success -->
                        <span v-if="message_sent">
                            Thanks for your message! I will get back to you as soon as possible. (:
                        </span>
                        <!-- failed -->
                        <span v-else>
                            Oops, something went wrong while sending the message.
                            <br/> Try again later or contact me from one of the methods mentioned above.
                        </span>
                    </v-alert>
                </v-flex>

            </v-layout>
        </v-container>
    </section>
</template>



<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import gql from 'graphql-tag'

@Component
export default class Contact extends Vue
{
    /**
     * Contact links at top of page
     */
    contacts: Array<Object> =
    [
        // mail
        {
            icon: 'mdi-email',
            text: 'jasper@vanveenhuizen.nl',
            url: 'mailto:jasper@vanveenhuizen.nl'
        },
        // linkedin
        {
            icon: 'mdi-linkedin',
            text: 'Jasper van Veenhuizen',
            url: 'https://www.linkedin.com/in/jaspervanveenhuizen/'
        },
    ]

    /**
     * If form is valid
     */
    valid: boolean = false
    
    /**
     * if the message is being sent
     */
    loading: boolean = false

    /**
     * if the form has been successfully submitted
     * null = not sent
     * false = not successfully
     * true = successfully
     */
    message_sent: boolean|null = null

    /**
     * Form name
     */
    name: string = ""

    /**
     * Form email
     */
    email: string = ""

    /**
     * Form message
     */
    message: string = ""

    /**
     * Form rules
     */
    rules: object =
    {
        required: (value:any) =>
        {
            return !!value || 'Required'
        },
        email: (value:string) =>
        {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'Invalid email.'
        },
        /**
         * @param silent if it should return a message or not
         */
        min: (value:string, length:number, silent:boolean=false) =>
        {
            const valid = value.length >= length
            if (valid)
                return true
            
            return (silent)
                ? ''
                : `Min ${length} characters.` 
        }
    }


    /**
     * submit contact form
     */
    async submitForm()
    {
        this.loading = true
        const result = await this.createContact({name: this.name, email: this.email, message: this.message})
        this.message_sent = ( result['data']['createContact'] === true )
        this.loading = false
    }


    /**
     * send Contact info
     */
    async createContact(contact_info: Object)
    {
        return await this.$apollo.mutate(
        {
            mutation: gql`mutation createContact($name: String!, $email: String!, $message: String!)
            {
                createContact(name: $name, email: $email, message: $message)
            }`,
            variables: contact_info
        })
    }
}
</script>
