<template>
    <section>
        <v-container>
            <v-layout>

                <v-flex xs12>
                    <!-- logo -->
                    <div class="logo logo-large">
                        <span>Jasper</span>
                        <span>V</span>
                    </div>
                    <p class="logo-subheading">
                        Hello I'm <span class="logo-subheading-bold">Jasper</span>, <br/>
                        I am a <span class="logo-subheading-bold">programmer</span>
                    </p>
                    <!-- <v-btn color="primary" large :to="{name: 'portfolio'}">
                        See My Work
                    </v-btn> -->
                    <v-btn color="primary" large :to="{name: 'contact'}">
                        Contact me
                    </v-btn>
                </v-flex>
            </v-layout>
        </v-container>
    </section>
</template>



<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class Home extends Vue {}
</script>



<!-- Global Styles -->
<style lang="stylus">
// centre the whole page
// this is in global because it is in
// an outside container located in App.vue
.page-home
  position absolute !important
  top 50%
  left 50%
  transform translate(-50%, -50%)
</style>



<!-- Scoped Styles -->
<style lang="stylus" scoped>
// text below logo
.logo-subheading
    font-size 20px
    letter-spacing 0.02em
    line-height 1
    margin-top 24px // create little space between subheading and logo
    // bolder/larger text
    &-bold
        font-weight bold
        color var(--v-primary-base)
        font-size 1.5em
</style>
