<template>
    <v-app dark>

        <v-content>
            <BackgroundCanvas/>
            
            <!-- Toolbar -->
            <v-container fluid toolbar>
                <v-layout wrap>
                    <!-- logo -->
                    <v-flex transition="slide-x-transition" xs12 sm1 align-self-center text-xs-center text-sm-left headline>
                        <v-fade-transition>
                            <router-link :to="{name:'home'}" v-if="!isRoute('home')" class="logo">
                                <span>Jasper</span>
                                <span>V</span>
                            </router-link>
                        </v-fade-transition>
                    </v-flex>

                    <!-- Menu items -->
                    <v-flex xs12 sm11 text-sm-right>
                        <v-btn
                            v-for="(item,index) in menu_items"
                            :key="index"
                            :to="{ name: item.route }"
                            exact
                            round
                            flat
                        >
                            {{item.text}}
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-container>

            <!-- Content background -->
            <v-container
                class="content-background"
                :hidden="hide_background"
                :style="{transition: 'height '+styleTransitionTime+'s ease-in-out'}"
            />

            <!-- Content -->
            <v-container
                :class="'content-container page-' + this.$router.currentRoute.name"
                :hidden="hide_content"
                :style="{transition: 'height '+styleTransitionTime+'s opacity 0.25s ease-in-out'}"
            >
                <!-- Page Title -->
                <h1 class="content-title" v-if="pageTitle" v-text="pageTitle"/>
                
                <transition
                    mode="out-in"
                    @css="false"
                    @before-leave="onRouteTransitionLeave"
                    @before-enter="onRouteTransitionEnter"
                    :duration="500"
                >
                    <router-view/>
                </transition>
            </v-container>
        </v-content>
    </v-app>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'vue-property-decorator'
import BackgroundCanvas from '@/components/Background/BackgroundCanvas.vue'

@Component(
{
    components:
    {
        BackgroundCanvas,
    },
})
export default class App extends Vue
{
    /**
     * Menu items to show in the topbar
     */
    menu_items: Array<Object> =
    [
        // {
        //     text: 'Projects',
        //     route: 'about'
        // },
        // {
        //     text: 'Experiences',
        //     route: ''
        // },
        {
            text: 'Contact',
            route: 'contact'
        },
    ]
    

    /**
     * If the content background is hidden
     */
    hide_background: Boolean = true

    /**
     * If the content itself is hidden
     */
    hide_content: Boolean = false

    /**
     * Time it takes for the transition to finish in ms
     */
    transition_time = 500

    
    created()
    {
        if(this.isRoute('home'))
            this.hide_background = true
    }


    /**
     * Returns the title of the current page
     * @return String|null
     */
    get pageTitle()
    {
        const meta = this.$route.meta
        return ('title' in meta)
            ? meta.title
            : null
    }


    /**
     * Transition time for styling has to be given in seconds
     * and takes half of the transition time.
     * (half of it for enter, other half for leave)
     */
    get styleTransitionTime()
    {
        return this.transition_time/1000/2
    }


    /**
     * show background&content
     */
    onRouteTransitionEnter()
    {
        if(!this.isRoute('home'))
            this.hide_background = false

        setTimeout( () =>
        {
            this.hide_content = false
        }, this.transition_time/4)
    }

    /**
     * Hide background&content
     */
    onRouteTransitionLeave()
    {
        this.hide_content = true

        setTimeout( () =>
        {
            this.hide_background = true
        }, this.transition_time/4)
    }
    
    
    /**
     * if the current page is the given route
     * @param string name   name of the route to compare
     */
    isRoute(name:string)
    {
        return (this.$router.currentRoute.name == name)
    }
}
</script>



<!-- scoped style -->
<style lang="stylus" scoped>
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans')
// toolbar at the top of the page
.toolbar
    z-index 99 // overlaps all content
    height 96px // for consistent height

// background for all the content, looks similar to a card.
.content-background
    background-color #424242
    padding-left 0
    padding-right 0
    // Horizontally centre
    position absolute
    left 50%
    transform translateX(-50%)
    // extend to bottom
    height calc(100% - 96px)
    bottom 0
    // rounded borders at top
    border-radius 8px !important
    border-bottom-left-radius 0 !important
    border-bottom-right-radius 0 !important
    border-color #424242
    // background shadow (copy of .elevation-16 class from vuetify)
    box-shadow 0px 8px 10px -5px rgba(0,0,0,0.2), 0px 16px 24px 2px rgba(0,0,0,0.14), 0px 6px 30px 5px rgba(0,0,0,0.12)
    // hidden class sets the height to 0
    &.hidden
        height 0
        padding 0
        margin 0

// page title
.content-title
    font-family 'Josefin Sans',sans-serif
    font-size 45px
    font-weight 400
    line-height 48px
    text-transform uppercase
    display inline-block
    position relative
    margin 24px 0
    &:after
        content ''
        //styling
        height 4px
        background-color var(--v-primary-base)
        // positioning
        position absolute 
        bottom -4px
        // centre
        margin 0 auto
        left 0
        right 0
        width 50%
        transition width 0.25s ease
    &:hover:after
        width 100%

// container around all content
.content-container
    position relative
    text-align center
    opacity 1
    &.hidden
        opacity 0

// xs & s
@media only screen and (max-width 959px)
    .content-container, .content-background
        max-width calc(100% - 32px)
        margin-right 16px !important

// s+
@media only screen and (min-width 960px)
    .content-container, .content-background
        max-width 900px

// xl
@media only screen and (min-width 1904px)
    .content-container, .content-background
        max-width 1185px
    
</style>



<!-- Global styles -->
<style lang="stylus">
/**
 * HELPERS
 */
.no-text-decoration
    text-decoration none


// Logo
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei')
@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa')
.logo
    position relative
    display inline
    text-decoration none
    font-size 32px
    font-weight 300 !important
    font-family 'Aref Ruqaa', serif
    color var(--v-secondary-base) !important

    // applies to the V at the end
    &>span:last-child
        position absolute
        bottom 8px
        right -24px
        font-family 'ZCOOL XiaoWei', serif
        font-size 1.6em
        font-weight 900
        color var(--v-primary-base) !important

    // larger version of logo for homepage
    &-large
        font-size 96px !important
        // V at the end
        &>span:last-child
            right -74px
            bottom -36px
</style>
