<template>
    <section class="bg-canvas-wrapper">
        <canvas ref="background_canvas" class="background-canvas bg-canvas"/>
        <canvas ref="particles_canvas" class="particles-canvas bg-canvas"/>
    </section>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import OrbiterAnimation from './animations/Orbiter/OrbiterAnimation'
import HorizontalAnimation from './animations/Horizontal/HorizontalAnimation'
import GradientBackground from './backgrounds/GradientBackground'

@Component
export default class BackgroundCanvas extends Vue
{
    /**
     * @var Background|null
     */
    protected background:any

    /**
     * @var OrbiterAnimation|null
     */
    protected animation:any


    mounted()
    {
        const background_canvas = <HTMLCanvasElement>this.$refs.background_canvas
        const particles_canvas = <HTMLCanvasElement>this.$refs.particles_canvas
        this.background = new GradientBackground(background_canvas)
        // this.animation = new OrbiterAnimation(particles_canvas, 200)
        this.animation = new HorizontalAnimation(particles_canvas, 200)
        // event listeners
        window.addEventListener('resize', this.onResize, false)
        window.addEventListener('mousemove', this.animation.onMouseMove, false)
        window.addEventListener('mouseout', this.animation.onMouseOut, false)
    }


    onResize()
    {
        this.animation.onResize()
        this.background.onResize()
    }
}
</script>


<style lang="stylus" scoped>
.bg-canvas
    &, &-wrapper
        position fixed
        height 100%
        width 100%
        top 0
        left 0
    &-wrapper
        background-color #222
        overflow hidden
</style>
